


@media screen and (min-width: 870px) {
    .navbar{
        background-color: #1f1f1f;    /* Changes background color  */ 
        display: flex;   /*Allows the text to stay length wise isntead of bunching together */ 
        width: 84%;  /* width of the actual black box */ 
        font-size: 150%;  /* font size */ 
        color:rgb(255, 255, 255);  /*changes color of text */ 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  /*font family in case anything breaks */ 
    }        
    }
